.fa-small {
  font-size: 0.7em;
}

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.vertical-center {
  vertical-align: middle !important;
}

.row.extra-bottom-padding {
  margin-bottom: 20px;
}
.logout-button{
  cursor: pointer;
}
