<div class="container">
  <div class="row">
    <div class=" col-sm-12 col-md-8 col-md-offset-2">
      <div ui-calendar="vm.calendarConfig.calendar" class="span8 calendar" ng-model="vm.calendarActivityList">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px" ng-if="vm.selectedSummary!==undefined">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Resumen</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <!--SUMMARY WRAPPER-->
            <div class="col-md-5">
              <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="field in vm.summaryFields | filter: vm.fieldFilter track by $index">
                  <div class="summary-field-wrapper">
                    <div class="summary-field-icon">
                      <img class="summary-icon" ng-src="{{field.icon}}"/>
                    </div>
                    <div class="summary-field-values">
                      <div class="summary-field-name">{{field.name}}</div>
                      <div class="summary-field-value">{{field.transform(vm.selectedSummary[field.field])}} {{field.units}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--MAP-->
            <div class="col-md-7">
              <ng-map zoom="12" center="{{vm.mapConfig.center}}" default-style="true" ng-if="vm.mapConfig.routePoints.length>0">
                <shape name="polyline"
                       path="{{vm.mapConfig.routePoints}}"
                       geodesic="true"
                       stroke-color="#FF0000"
                       stroke-opacity="1.0"
                       stroke-weight="2">
                </shape>
              </ng-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.selectedSummary!==undefined">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Análisis" select="vm.changedTab()">
                  <div class="row">
                    <div class="col-md-12">
                      <highchart id="mainAnalysis" config="vm.mainAnalysisChartConfig"></highchart>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab index="1" heading="Vueltas" select="vm.changedTab()">
                  <div class="row">
                    <div class="col-md-12">
                      <highchart id="rhythmAnalysis" config="vm.rhythmChartConfig"></highchart>
                    </div>
                    <div class="col-md-12 text-center">
                      <label for="distance-group-select">Distancia </label>
                      <select id="distance-group-select" ng-model="vm.selectedGroupDistance" ng-change="vm.loadRhythmChart(vm.selectedGroupDistance)">
                        <option value="1000">1 Km</option>
                        <option value="5000">5 km</option>
                        <option value="10000">10 km</option>
                        <option value="15000">15 km</option>
                      </select>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.selectedSummary!==undefined">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <highchart id="hrAnalysis" config="vm.heartRateChartConfig"></highchart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
