<div class="container">
  <div class="row">
    <div class=" col-sm-12 col-md-8 col-md-offset-2">
      <div ui-calendar="vm.calendarConfig.calendar" class="span8 calendar" ng-model="vm.calendarActivityList">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px" ng-if="vm.selectedSummary!==undefined">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Resumen</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <!--SUMMARY WRAPPER-->
            <div class="col-md-5">
              <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="field in vm.summaryFields | filter: vm.fieldFilter track by $index">
                  <div class="summary-field-wrapper">
                    <div class="summary-field-icon">
                      <img class="summary-icon" ng-src="{{field.icon}}"/>
                    </div>
                    <div class="summary-field-values">
                      <div class="summary-field-name">{{field.name}}</div>
                      <div class="summary-field-value">{{field.transform(vm.selectedSummary[field.field])}} {{field.units}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--MAP-->
            <div class="col-md-7">
              <ng-map zoom="12" center="{{vm.mapConfig.center}}" default-style="true" ng-if="vm.mapConfig.routePoints.length>0">
                <shape name="polyline"
                       path="{{vm.mapConfig.routePoints}}"
                       geodesic="true"
                       stroke-color="#337ab7"
                       stroke-opacity="1.0"
                       stroke-weight="4">
                </shape>
                <marker position="{{vm.markerPosition}}" title="Point"></marker>
              </ng-map>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
              <uib-tabset active="vm.selectedTab" justified="true">
                <uib-tab index="0" heading="Análisis" select="vm.changedTab()">
                  <div class="row">
                    <div class="col-md-12">
                      <highchart id="mainAnalysis" config="vm.mainAnalysisChartConfig"></highchart>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab index="1" heading="Vueltas" select="vm.changedTab()">
                  <div class="row">
                    <div class="col-md-12">
                      <highchart id="rhythmAnalysis" config="vm.rhythmChartConfig"></highchart>
                    </div>
                    <div class="col-md-12 text-center">
                      <label for="distance-group-select">Distancia </label>
                      <select id="distance-group-select" ng-model="vm.selectedGroupDistance" ng-change="vm.loadRhythmChart(vm.selectedGroupDistance)">
                        <option value="1000">1 Km</option>
                        <option value="5000">5 km</option>
                        <option value="10000">10 km</option>
                        <option value="15000">15 km</option>
                      </select>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.selectedSummary!==undefined">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Análisis Ritmo Cardíaco</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <highchart id="hrAnalysis" config="vm.heartRateChartConfig"></highchart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.selectedSummary!==undefined">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">IBP Index <a href="http://www.ibpindex.com/index.php/es/#zt-userwrap6-inner" target="_blank"><i class="fa fa-question-circle"></i></a></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                <h4><b>IBP Perfomance</b></h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item">
                  <b>IBP Index <i popover-title="Información" popover-class="ibp-popover" popover-placement="right" uib-popover-template="'ibpInfoTemplate.html'" class="fa fa-info-circle" style="cursor: pointer"></i> </b>: <span class="big">{{vm.ibpAnalysis.bicycle.ibp}}</span>
                  <script type="text/ng-template" id="ibpInfoTemplate.html">
                    <img class="img-responsive" src="images/tabla_ibp_es.jpg"/>
                  </script>
                </li>
                <li class="list-group-item">
                  <b>IBP Fit <i popover-title="Información" popover-class="ibp-popover" popover-placement="right" uib-popover-template="'ibpFitInfoTemplate.html'" class="fa fa-info-circle" style="cursor: pointer"></i></b>: <span class="big">{{ vm.ibpFit}}</span>
                  <script type="text/ng-template" id="ibpFitInfoTemplate.html">
                    <img class="img-responsive" src="images/tabla_ibp_fit_650_2.jpg"/>
                    <p>Se han comparando los datos del entreno otros entrenos analizados en IBP Index.<br/>
                      Con tu tiempo a {{vm.ibpAnalysis.averagespeed}} km/hm en una carrera con 100 participantes habrías quedado en la posición: {{vm.ibpFit}}</p>
                  </script>

                  <!--Se han encontrado 797 rutas con condiciones iguales a la tuya (±5%)-->
                  <!--IBP = 61,   Distancia total	81.478 Km,   Desn. de subida acumulado	886 m-->
                  <!--Con tu tiempo a 21.2 Km/h, en una carrera con 100 participantes habrías quedado en la posición: 34      IBP fit = 34-->
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                <h4><b>Análisis de desnivel</b></h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th>Subidas</th>
                  <th>Distancia Km</th>
                  <th>%</th>
                  <th>Velocidad</th>
                  <th>Tiempo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Entre 15 y 30%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb15_30km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb15_30km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb15_30km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb15_30km/vm.ibpAnalysis.bicycle.speedclimb15_30km)*3600)}}</td>
                </tr>
                <tr>
                  <td>Entre 10 y 15%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb10_15km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb10_15km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb10_15km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb10_15km/vm.ibpAnalysis.bicycle.speedclimb10_15km)*3600)}}</td>
                </tr>
                <tr>
                  <td>Entre 5 y 10%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb5_10km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb5_10km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb5_10km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb5_10km/vm.ibpAnalysis.bicycle.speedclimb5_10km)*3600)}}</td>
                </tr>
                <tr>
                  <td>Entre 1 y 5%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb1_5km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb1_5km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb1_5km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb1_5km/vm.ibpAnalysis.bicycle.speedclimb1_5km)*3600)}}</td>
                </tr>
                <tr>
                  <th colspan="5">Llano</th>
                </tr>
                <tr>
                  <td>Desniveles del 1%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb1_1km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb1_1km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb1_1km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb1_1km/vm.ibpAnalysis.bicycle.speedclimb1_1km)*3600)}}</td>
                </tr>
                <tr>
                  <th colspan="5">Bajadas</th>
                </tr>
                <tr>
                  <td>Entre 1 y 5%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb5_1km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb5_1km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb5_1km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb5_1km/vm.ibpAnalysis.bicycle.speedclimb5_1km)*3600)}}</td>
                </tr>
                <tr>
                  <td>Entre 5 y 10%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb10_5km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb10_5km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb10_5km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb10_5km/vm.ibpAnalysis.bicycle.speedclimb10_5km)*3600)}}</td>
                </tr>
                <tr>
                  <td>Entre 10 y 15%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb15_10km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb15_10km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb15_10km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb15_10km/vm.ibpAnalysis.bicycle.speedclimb15_10km)*3600)}}</td>
                </tr>
                <tr>
                  <td>Entre 15 y 30%</td>
                  <td>{{vm.ibpAnalysis.bicycle.totclimb30_15km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.perclimb30_15km}}</td>
                  <td>{{vm.ibpAnalysis.bicycle.speedclimb30_15km}}</td>
                  <td>{{vm.globalFuncs.formatSeconds((vm.ibpAnalysis.bicycle.totclimb30_15km/vm.ibpAnalysis.bicycle.speedclimb30_15km)*3600)}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <highchart id="ibpKmAnalysis" config="vm.ibpKmAnalysisChartConfig"></highchart>
            </div>
          </div>
          <div ng-if="vm.ibpAnalysis.bicycle.stops.length>0">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <h4><b>Paradas</b></h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-responsive">
                  <thead>
                  <tr>
                    <th>Distancia Km</th>
                    <th>Tiempo parado</th>
                    <th>Altura</th>
                    <th>Tiempo desde salida</th>
                    <th>Tiempo desde parada anterior</th>
                    <th>Distancia a parada anterior</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="stop in vm.ibpAnalysis.bicycle.stops track by $index">
                    <td>{{stop.stopdistancekm}}</td>
                    <td>{{stop.stoppedtime}}</td>
                    <td>{{stop.stopaltitude}}</td>
                    <td>{{stop.stopelaptime}}</td>
                    <td>{{stop.stoplasttime}}</td>
                    <td>{{stop.stoplastdist}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
